# Data Analysis with Pandas
## Cycle Share Data set
## By Sara Zwairi
## 9th of aug 2021

In [1]:
import pandas as pd

In [2]:
station_df = pd.read_csv("bike-stats/station.csv")
trip_df = pd.read_csv("bike-stats/trip.csv",error_bad_lines=False)
weather_df = pd.read_csv("bike-stats/weather.csv")

/home/sara/asac/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

In [3]:
trip_df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [4]:
weather_df.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [5]:
station_df.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

### What is the average trip duration for a borrowed bicycle?

In [6]:
avg_duration=(trip_df["tripduration"].mean())
avg_duration

1178.2956753399776

### What’s the most common age of a bicycle-sharer?

In [7]:
birth_year=int(trip_df["birthyear"].mode())
age=2021-birth_year
age

34

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [8]:
weather_df["month"]=pd.DatetimeIndex(weather_df["Date"]).month
average_precipitation=weather_df.groupby(["month"]).mean()["Precipitation_In"]
precipitation_median=weather_df.groupby(["month"]).median()["Precipitation_In"]
print(precipitation_median)
average_precipitation

month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

### What’s the average number of bikes at a given bike station?

In [9]:
avg_bikes_station=station_df["install_dockcount"].mean()
avg_bikes_station

17.586206896551722

### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [10]:
difference_bikes_current_install=station_df["current_dockcount"]-station_df["install_dockcount"]
difference_bikes_current_install.mean()
# negative mean loosing bikes

-1.0689655172413792

### Come up with 3 more questions that can be answered with this data set.

### what is the highest tempture recoded?

In [11]:
highest_temp=weather_df["Max_Temperature_F"].max()
highest_temp

98

### what date was the highest temp?

In [12]:
highest_temp_date=weather_df[["Max_Temperature_F","Date"]].max()[1]
highest_temp_date

'9/9/2015'

### which station recently decommissioned?

In [13]:
recent_decommission=station_df[["name","decommission_date"]].sort_values("decommission_date",ascending=False)
recent_decommission.head(1)

                       name decommission_date
10  12th Ave & E Yesler Way          8/9/2016

In [15]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_duration, 1178.2956753399776)
    assert_equal(age,34)
    assert_equal(avg_bikes_station, 17.586206896551722)
    assert_equal(highest_temp ,98)
    assert_equal(difference_bikes_current_install.mean(),-1.0689655172413792)

    print("Success!!!")

test()

AssertionError: Expected 16.517241379310345 but got 17.586206896551722