#  Data Analysis with Pandas
## Video Game Sales
## By Sara Zwairi
## 9th of aug 2021

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("vg-stats/vgsales.csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Which company is the most common video game publisher?

In [10]:
most_common_vg_publisher=df["Publisher"].value_counts()
most_common_vg_publisher.head(1)

Electronic Arts    1351
Name: Publisher, dtype: int64

### Whatâ€™s the most common platform?

In [12]:
most_common_platform=df["Platform"].value_counts()
most_common_platform.head(1)

DS    2163
Name: Platform, dtype: int64

### What about the most common genre?

In [13]:
most_common_genre=df["Genre"].value_counts()
most_common_genre.head(1)

Action    3316
Name: Genre, dtype: int64

### What are the top 20 highest grossing games?

In [16]:
highest_grossing_games=df[["Name","Global_Sales"]].sort_values("Global_Sales",ascending=False)
highest_grossing_games.head(20)

                                                  Name  Global_Sales
16597                                 Spirits & Spells          0.01
16188                                 Toro to Morimori          0.01
16187                                   Jewel Quest II          0.01
16186                                      BattleForge          0.01
16185           Tantei Jinguuji Saburo: Hai to Diamond          0.01
16184  Fatal Fury: Battle Archives Volume 2 (JP sales)          0.01
16183                      Sakura-Sou no Pet na Kanojo          0.01
16182                                  Princess Arthur          0.01
16181                             Resistance Dual Pack          0.01
16180                        Rozen Maiden: Gebetgarten          0.01
16179      Sega Golf Club: Miyazato San Kyoudai Naizou          0.01
16178                                      Putty Squad          0.01
16177                                   Rail Simulator          0.01
16176    San-X Character Channel: All-Star Daishuugou!          0.01
16175                                       Republique          0.01
16174                                      We Sing 80s          0.01
16189             Sonic & All-Stars Racing Transformed          0.01
16173                Tactics Layer: Ritina Guard Senki          0.01
16190                                     Satisfashion          0.01
16192                             Metal Slug Anthology          0.01